.dragger {
    width: 5px;
    cursor: ew-resize;
    padding: 4px 0 0;
    /* border-top: 1px solid #ddd; */
    border-top: 1px solid #ff0000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    /* background-color: #f4f7f9; */
    background-color: #ff0000;
}